//* Primary
$brand__darkred: #661429;
$brand__brightred: #f02958;
$brand__palered: #ff7c7c;

//* Secondary
$brand__brown: #6a464f;
$brand__pink: #f289a2;
$brand__palepink: #e3b2c4;
$brand__lightpink: #f7edf0;

//* Additional Color
$brand__black: #2b2b2b;
$brand__darkgrey: #999999;
$brand__lightgrey: #c0c0c0;
$brand__grey: #d9d9d9;

$brand__white: #ffffff;

$blue_ribbon: #1463f3;
$malibu: #84a4fc;

$navy: #051367;
$blue: #2d31fa;
$pastel_blue: #5d8bf4;
$light_blue: #dff6ff;
