//* Primary
$brand__darkred: #661429;
$brand__brightred: #f02958;
$brand__palered: #FF7C7C;

//* Secondary
$brand__brown: #6a464f;
$brand__pink: #f289a2;
$brand__palepink: #e3b2c4;
$brand__lightpink: #F7EDF0;

//* Additional Color
$brand__black: #2B2B2B;
$brand__darkgrey: #999999;
$brand__lightgrey: #C0C0C0;
$brand__grey: #d9d9d9;

$brand__white: #FFFFFF;
