//** Typold
@font-face {
  font-family: 'Typold-Bold';
  src: url('Fonts/typold/TypoldBold.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Typold';
  src: url('Fonts/typold/TypoldRegular.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
}

//** Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('Fonts/Montserrat/Montserrat.woff2') format('woff2');
  font-weight: normal;
	font-style: normal;
}