@import "GlobalStyles/color.scss";
@import "GlobalStyles/spacing.scss";

.app-wrapper {
  min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight}/ 2);

  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  .appWrapper {
    min-height: calc(100vh - #{$footerHeight} / 2);
  }
}
