@import 'GlobalStyles/spacing.scss';
@import 'GlobalStyles/color.scss';

.ButtonLabel {
    font-family: 'Typold';
    font-weight: 500;
    font-size: rem-calc(20);
    color: white;
    &-secondary {
        font-size: rem-calc(20);
    }
}

.CustomButtonRoot {
	text-decoration: none !important;

	height: rem-calc(48);
	width: rem-calc(240);
	padding:0;
	border: solid $brand__brightred 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	background-color: $brand__brightred;
    &-secondary {
        width: rem-calc(180);
    }
	svg > path {
		fill: white ;
	}
	&:hover {
		&:not(.CustomButtonRoot__white) {
			box-shadow: 0px 0px 8px 0px #ee4d2d80;
			background-color: rgba($brand__brightred, 0.9);
			border: solid $brand__brightred 1px;
		}
	}

	&:focus {
		&:not(.CustomButtonRoot__white) {
			border-color: transparent;
			background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0.2),
					rgba(0, 0, 0, 0.2)
				),
				linear-gradient(0deg, $brand__brightred, $brand__brightred);
			.button__label {
				color: white;
			}
		}
	}
	&__text {
		color: white !important;
		&__white {
			color: $brand__brightred !important;
		}
	}
	&__white {
		background-color: white;
		svg > path {
			fill: $brand__brightred !important;
		}
		.typography__root {
			color: $brand__brightred;
		}
		&:hover {
			box-shadow: unset;
			background-color: $brand__lightpink;
			border: solid $brand__brightred 1px;
		
		}
		&:active {
			.CustomButtonRoot__text__white {
				color: white !important;
			}
			background-color: $brand__lightpink;
			border: solid $brand__brightred 1px;
			.CustomButtonRoot__reficon {
				#reference {
					path {
						fill: white !important;
					}
				}
			}
		}
		&:focus {
			.CustomButtonRoot__text__white,
			.typography__root {
				color: white !important;
			}
			background-color: rgba($brand__brightred, 0.7);
			border: solid $brand__brightred 1px;
			
			svg > path {
				fill: white !important;
			}
		}
		.CustomButtonRoot__loader {
			svg > path {
				fill: $brand__brightred;
			}
		}
		.CustomButtonRoot__reficon {
			height: 16px;
			margin-left: 6px;
			#reference {
				path {
					fill: $brand__brightred;
				}
			}
		}
	}
	&:disabled {
		pointer-events: none;
		background: $brand__lightgrey;
		.button__label {
			color: white;
		}
	}

	&:not(.CustomButtonRoot__white) {
		.button__label {
			color: white;
		}
	}
}


.CustomButtonRoot__reficon {
	height: 16px;
	margin-left: 6px;
	#reference {
		path {
			fill: white;
		}
	}
}


.RoundButton {
	background-color: $brand__brightred;
	display: flex;
  justify-content: center;
  align-items: center;
	width: rem-calc(100);
	height: rem-calc(100);
  &-small {
    width: rem-calc(60);
    height: rem-calc(60);
  }
	border-radius: rem-calc(50);
	box-shadow: 0 0 rem-calc(10) 0 #ffffff inset;

	transition: all 0.3s ease-in-out;

	&:hover {
		transition: all 0.3s ease-in-out;
		transform: scale(1.1);
	}

	&__triangle {
		width: 0;
		height: 0;
		border-top: rem-calc(20) solid transparent;
		border-left: rem-calc(34.64) solid #ffffff;
		border-bottom: rem-calc(20) solid transparent;
		margin: rem-calc(30) rem-calc(30) rem-calc(30) rem-calc(37.5);
		display: flex;
	}

	&__triangle-img {
		width: rem-calc(30);
		height: rem-calc(30);
		margin: rem-calc(36) rem-calc(36) rem-calc(36) rem-calc(40);
	}

	svg {
		fill: white !important;
	}
}

.CircleButtonContainer {
	background: none;
	border:none;
}