@import "GlobalStyles/spacing.scss";
@import "GlobalStyles/color.scss";

.button {
  color: white;
  background-color: $blumine;
  border-radius: 10px;
  border: none;
  margin: 5px;
  &:hover {
    background-color: $jungle_mist;
    color: white;
  }
}
