@import 'GlobalStyles/color.scss';
@import 'GlobalStyles/spacing.scss';

.coming-soon {
  background-color: $brand__palepink; // color should be #F7EDF0, this is the closest from color.scss
  width: rem-calc(500);
  height: rem-calc(600);
  aspect-ratio: 5/6;
  border-radius: 10px;
  margin: rem-calc(25);
  display: flex;
  flex-direction: column;
  padding: 10px;

  transition: all 0.3s ease-in-out;

  &:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
  }

  &__photo {
    width: rem-calc(270);
    height: rem-calc(253);
    margin: auto;
  }

  &__bottom {
    color: $brand__brightred;
    margin: 0 auto auto auto;
    display: flex;
    justify-content: space-between;
  }
}
