@import "GlobalStyles/spacing.scss";
@import "GlobalStyles/color.scss";

.navbar-selection {
  margin: rem-calc(30);
  cursor: pointer;
  padding: rem-calc(10);
  transition: all 0.3s ease-in-out;
  border-radius: rem-calc(15);
  &:hover {
    transform: scale(1.1);
    color: $blumine !important;
  }
  &__text {
    color: $storm_dust;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $blumine;
    }
  }
}

.selected {
  opacity: 0.7;
  background-color: rgb(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
  color: $blumine !important;
}
