@import "GlobalStyles/color.scss";
@import "GlobalStyles/spacing.scss";

.ant-table-footer {
  display: flex;
  justify-content: right;
}

.cart-table {
  &__delete-icon {
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    padding: 1px;
    &:hover {
      transform: scale(2);
      background-color: $jungle-mist;
    }
  }
}
