@import "GlobalStyles/color.scss";
@import "GlobalStyles/spacing.scss";

.events-page {
  margin: rem-calc(40);
  &__title {
    &__button {
      float: right;
    }
  }
  &__events-wrapper {
    display: flex;
    direction: row;
    flex-wrap: wrap;
  }
}
